obj
bin
deploy
*.csproj.user
*.suo
*.cache
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*ncrunch*
Fix.sln.DotSettings
Fix.sln.DotSettings.user
*.nupkg
nohup.out
build
src/CommonAssemblyInfo.cs
Gemfile.lock
results
nuget
src/packages/*
!src/packages/repositories.config
artifacts