<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebPages.Core" version="2.0.20505.0" targetFramework="net40" />
  <package id="Fix" version="0.2" targetFramework="net40" />
  <package id="Fix.AspNet" version="0.2" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1106.2610" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Simple.Web" version="0.4.2.1" targetFramework="net40" />
  <package id="Simple.Web.AspNet" version="0.4.2.1" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net40" />
</packages>